<h2>{{{data.message}}}</h2>

<h6>{{{data.user2.Materia_1}}}</h6>

{{!-- {{data.token}}} --}}




<script type="text/javascript">
    console.log('{{{data}}}')
    console.log(`test {{{data.token}}}`);

    localStorage.setItem('token',`{{{data.token}}}`);


        /*fetch('/ingreso',{
            method:'POST',
            body:{{{data}}}, 
        })
        .then(res=>res.json())
        .then(data=>{
            localStorage.setItem('token',data.token)
        })*/
        
</script>