<% include partes/header_est%>
<script type="text/javascript">
    // document.write("5");
    alert("<%=data.message%>")
</script>

<!-- <div class="container">
    <div class="row">
       <FORM>
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body" style="background-color: #B0C4DE">
            <font face="Comic Sans MS,arial,verdana" color="teal"> <%=data.message%></font>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<%if(data.message=='Estudiante tiene acceso al Sistema de Guias de Laboratorio'){%>
<script type="text/javascript">
    // console.log('<%=data.token%>')
    //guardando el token en el local storage
    localStorage.setItem('token',`<%=data.token%>`);
    localStorage.setItem('rol',`<%=data.user.rol%>`);
  /////esto es para enviar el token de nuevo
    //let productlist=document.createElement('ul')
    const myHeaders=new Headers();
    myHeaders.append('authorization',`Bearer ${localStorage.token}`)
    console.log(localStorage.token)

    fetch('/prueba',{
        //method:'GET',
        headers:myHeaders
        //headers: myHeaders
    })
    // .then(resp => resp.json())
    // .catch(error => console.error('Error:', error))
    // .then(resp =>{
    //     console.log(resp)
        // resp.render('pruebas',{resp})
        // redirect('/prueba2',)
    // })
   
</script>

<a href="/prueba2">irse</a>
<div class="container">
    <div class="row">
       <!-- <FORM> -->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body" style="background-color: #B0C4DE">
            <font face="Comic Sans MS,arial,verdana" color="teal"> <%=data.message%></font>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
<%}%>
<% include partes/footer%>