
<% include partes/header_dir%>
    <div class="container">
        <div class="row">
            <!-- form -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/crearMa" method="POST">
                            <div class="form-group">
                              <input class="form-control" type="text" name="nombre" placeholder="Nombre de la materia" required>
                            </div>
                            <div class="form-group">
                              <input class="form-control" type="text" name="sigla" placeholder="Sigla de la materia" required>
                            </div>
                            <div class="form-group">
                              <input class="form-control" type="number" max="4" min="1" name="grupo" placeholder="Grupo de la materia" required>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">
                                  Agregar
                            </button>
                        </form>
                  
                    </div>
                </div>
            </div>
            <!-- lista -->
            <div class="col-md-7">
                    <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Nombre</th>
                                  <th>Sigla</th>
                                  <th>Grupo</th>
                                  <th>Operations</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(var i=0; i < resp.materia.length; i++) { %>
                                    <tr>
                                      <td><%= i + 1%></td>
                                      <td><strong><%= resp.materia[i].nombre %></strong></td>
                                      <td><strong><%= resp.materia[i].sigla %></strong></td>
                                      <td><strong><%= resp.materia[i].grupo %></strong></td>
                                      <td>
                                        <a href="/delMa/<%= resp.materia[i]._id %>" class="btn btn-danger">delete</a>
                                        <a href="/editar/<%= resp.materia[i]._id %>" class="btn btn-info">edit</a>
                                    </td>
                                    </tr>
                                  <% } %> 
                              </tbody>
                    </table>
            </div>
              <div class="card-body">
                  <form action="/users">
                      <button class="btn btn-primary btn-block" type="submit">
                            Agregar Estudantes
                      </button>
                  </form>
              </div>
        </div>
    </div>
    <button ></button>
    <!-- <h1>hello</h1> -->
    <!-- <script src="/js/script.js"></script> -->
<% include partes/footer%>
