<% include partes/header_dir%>

<!-- <pre><%=resp%></pre> -->
<!-- form -->
<div class="container">
        <div class="row">
          <!--FORM-->
          <div class="col-md-5 offset-md-3">
            <div class="card">
              <div class="card-body">
                <form action="/actualizar/<%= resp.msn._id %>" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="nombre" placeholder="Nombre de la materia" value="<%= resp.msn.nombre %>">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="text" name="sigla" placeholder="Sigla de la materia" value="<%= resp.msn.sigla %>">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="number" max="4" min="1" name="grupo" placeholder="Grupo de la materia" value="<%= resp.msn.grupo %>">
                      </div>
                        <button class="btn btn-primary" type="submit">
                            Update 
                        </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
<% include partes/footer%>