<% include partes/header_dir%>
<%=result.length%>
<h1>ya llllego</h1>

            <!-- lista -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>N°</th>
                              <th>CI</th>
                              <th>RU</th>
                              <th>AP PATERNO</th>
                              <th>AP MATERNO</th>
                              <th>NOMBRES</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0; i < result.length; i++) { %>
                                <tr>
                                  <td><%= i + 1%></td>
                                  <td><strong><%= result[i].C_I %></strong></td>
                                  <td><strong><%= result[i].R_U %></strong></td>
                                  <td><strong><%= result[i].Paterno %></strong></td>
                                  <td><strong><%= result[i].Materno %></strong></td>
                                  <td><strong><%= result[i].Nombres %></strong></td>
                                </tr>
                              <% } %> 
                          </tbody>
                </table>
        </div>
        <div class="card-body">
          <form action="/crear" method="POST">
              <button class="btn btn-primary btn-block" type="submit">
                    Registrar en DB
              </button>
          </form>
      </div>
<% include partes/footer%>