<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ing Sistemas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="/public/assets/icons/book.ico" />
    <script src="js/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="css/sweet-alert.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="navbar-lateral full-reset">
        <div class="visible-xs font-movile-menu mobile-menu-button"></div>
        <div class="full-reset container-menu-movile custom-scroll-containers">
            <div class="logo full-reset all-tittles" style="background-color:#2B3D51; padding: 10px 0; color:#2B3D51;">
                <i style="padding: 10px 0; color:#fff;">sistema guias de laboratorio</i>
                <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
            </div>
            <div class="full-reset" style="background-color:#2B3D51; padding: 10px 0; color:#2B3D51;">
                <figure>
                    <img src="assets/img/logosis.png" alt="Biblioteca" class="img-responsive center-box" style="width:55%;">
                </figure>
                <!-- <p class="text-center" style="padding-top: 15px;">Sistema labpratorio sis</p> -->
            </div>
            <div class="full-reset nav-lateral-list-menu">
                <ul class="list-unstyled">
                    <li><a href="/homeD/<%=doc.user._id%>"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Estudiante <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-book zmdi-hc-fw"></i>&nbsp;&nbsp; Materias <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                
                    </li>
                      </ul>
            </div>
        </div>
    </div><!--  -->
    <div class="content-page-container full-reset custom-scroll-containers">
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <figure>
                   <img src="assets/img/user03.png" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles">Teacher Name</span>
                </li>
                <li  class="tooltips-general exit-system-button" data-href="inicio" data-placement="bottom" title="Salir del sistema">
                    <i class="zmdi zmdi-power"></i>
                </li>
                <li  class="tooltips-general search-book-button" data-href="searchbook.html" data-placement="bottom" title="Buscar libro">
                    <i class="zmdi zmdi-search"></i>
                </li>
                <li  class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
            </ul>
        </nav>

 <section class="full-reset text-center" style="padding: 40px 0;">
    <%if(doc.user.materia_1!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_1%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_1%></div>
    </article>
    <%}%>
    <%if(doc.user.materia_2!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_2%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_2%></div>
    </article>
    <%}%>
    <%if(doc.user.materia_3!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_3%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_3%></div>
    </article>
    <%}%>
    <%if(doc.user.materia_4!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_4%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_4%></div>
    </article>
    <%}%>
     <%if(doc.user.materia_5!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_5%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_5%></div>
    </article>
    <%}%>
    <%if(doc.user.materia_6!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_6%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_6%></div>
    </article>
    <%}%>
     <%if(doc.user.materia_7!="no programado"){%>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book zmdi-hc-fw"></i></div>
        <div class="tile-name all-tittles"><%=doc.user.materia_7%></div>
        <div class="tile-num full-reset"><%=doc.user.Gmateria_7%></div>
    </article>
    <%}%> 
</section>
