<% include ../parcial/_head %>
<% include ../parcial/_menus %>

<div class="container-fluid col-md-12" > 
        <div class="container-flat-form"  >
            <div class="title-flat-form title-flat-blue" >Registrar un nuevo Estudiante</div>
            <form autocomplete="off" action="/actualizarU/<%= OnlyUs.msn._id %>" method="POST">
                <div class="row">
                 
                   <!-- <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                        <div class="group-material "style="right:80px">
                                <input type="text" name="nombre"  class="material-control tooltips-general " placeholder="Nombre(s) del usuario" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" required maxlength="35" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre(s)</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                        <div class="group-material "style="right:100px">
                           <input type="text" name="apellido"  class="material-control tooltips-general " placeholder="Apellidos del usuario" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" required maxlength="35" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Apellido(s)</label>
                        </div>
                    </div> -->
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="ci" value="<%= OnlyUs.msn.ci %>"class="material-control tooltips-general " placeholder="Cedula de identidad" pattern="[0-9]{1,10}" required maxlength="10" data-toggle="tooltip" data-placement="top" title="Solo numeros">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>C.I.</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="ru"  value="<%= OnlyUs.msn.ru %>"class="material-control tooltips-general " placeholder="Registro Universitario" pattern="[0-9]{1,5}" required maxlength="5" data-toggle="tooltip" data-placement="top" title="Solo numeros">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>R.U.</label>
                            </div>
                    </div>
                      
                    <input type="hidden" name="rol" value="estudiante">
                                
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m1" value="<%= OnlyUs.msn.materia_1 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}" required maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 1</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg1" value="<%= OnlyUs.msn.Gmateria_1 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}" required maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m2" value="<%= OnlyUs.msn.materia_2 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}"  maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 2</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg2" value="<%= OnlyUs.msn.Gmateria_2 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}"  maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m3"value="<%= OnlyUs.msn.materia_3 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}"  maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 3</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg3" value="<%= OnlyUs.msn.Gmateria_3 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}"  maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m4" value="<%= OnlyUs.msn.materia_4 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}"  maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 4</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg4" value="<%= OnlyUs.msn.Gmateria_4 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}"  maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m5" value="<%= OnlyUs.msn.materia_5 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}"  maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 5</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg5" value="<%= OnlyUs.msn.Gmateria_5 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}"  maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m6" value="<%= OnlyUs.msn.materia_6 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}"  maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 6</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg6" value="<%= OnlyUs.msn.Gmateria_6 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}"  maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m7" value="<%= OnlyUs.msn.materia_7 %>" class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}"  maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 7</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg7" value="<%= OnlyUs.msn.Gmateria_7 %>" class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}"  maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 ">
                            <p class="text-center">
                                    <!-- <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button> -->
                                    <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Actualizar</button>
                             </p> 
                    </div>
                </div>
            </form>
        </div>
    </div>