<!DOCTYPE html>
<html lang="es">
<head>
    <title>Principal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="assets/icons/book.ico" />
    <script src="js/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="css/sweet-alert.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loginuser.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body class="full-cover-background" style="background-image:url(assets/img/binario.gif);">
  
    <script type="text/javascript">
        // document.write("5");
        alert("<%=data.message%>")
    </script>  
    <%if(data.message=='acceso al sistema'){%>
        
        <script type="text/javascript">

            //guardando el token en el local storage
            localStorage.setItem('token',`<%=data.token%>`);
            localStorage.setItem('rol',`<%=data.rol%>`);
            localStorage.setItem('id',`<%=data.id%>`);
          /////esto es para enviar el token de nuevo
            const myHeaders=new Headers();
            myHeaders.append('authorization',`Bearer ${localStorage.token}`)
            myHeaders.append('rol',` ${localStorage.rol}`)
            myHeaders.append('_id',` ${localStorage.id}`)
            // console.log(localStorage.token)
        
            fetch('/token',{
                headers:myHeaders
            })
        </script>
        <div class="form-container">
            <p class="text-center" style="margin-top: 17px;">
               <i class="zmdi zmdi-badge-check zmdi-hc-5x"></i>
           </p>
           <h4 class="text-center all-tittles" style="margin-bottom: 30px;">Bienvenido a al sistema de guias de laboratorio</h4>
           <h5 class="text-center all-tittles" style="margin-bottom: 30px;"><%=data.rol%></h5>
           <!-- <h4 class="text-center all-tittles" style="margin-bottom: 30px;">de la carrera de ingeniaria de sistemas</h4> -->
          
            <a href="/home"> <button class="btn-login" >Ingresar al sistema &nbsp; <i class="zmdi zmdi-arrow-right"></i></button></a>
        
        </div>
         <!-- <a href="/prueba2">irse</a> -->
        
        <%}else{ %>
            <div class="form-container">
                <p class="text-center" style="margin-top: 17px;">
                   <i class="zmdi zmdi-block-alt zmdi-hc-5x"></i>
               </p>
               <h4 class="text-center all-tittles" style="margin-bottom: 30px;">No tiene acceso</h4>
               <h5 class="text-center all-tittles" style="margin-bottom: 10px;"><%=data.message%></h5>
               <!-- <h4 class="text-center all-tittles" style="margin-bottom: 30px;">de la carrera de ingeniaria de sistemas</h4> -->
              
                   <!-- <a href="/prueba2"> <button class="btn-login" >Ingresar al sistema &nbsp; <i class="zmdi zmdi-arrow-right"></i></button></a> -->
            
            </div>
        <%} %>
</body>
</html>